<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <mat-form-field appearance="outline">
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="Placeholder" [value]="formCep.logradouro" disabled>
        </mat-form-field>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <mat-form-field appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Placeholder" [value]="formCep.bairro" disabled>
        </mat-form-field>
    </div>
    <div class="col-12 col-md-2 col-lg-2">
        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Placeholder" [value]="formCep.uf" disabled>
        </mat-form-field>
    </div>
    <div class="col-12 col-md-2 col-lg-2">
        <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Placeholder" [value]="formCep.localidade" disabled>
        </mat-form-field>
    </div>
</div>



